*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
ATrace.iml
app/
build.gradle
build/
gradle-atrace/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
